@import "tailwindcss";
@theme {
  --color-primary: #203C8A;
  --color-accent: #EA5865;
  --color-primary-text: #1E1E1C;
  --color-secondary-text: #253058;
  --color-placeholder-text:#7A7F93; 
  --color-drop-shadow: #E3EBFB;
}


*{
  font-family: "Poppins", sans-serif;
}